<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpjy.basket"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="MyApplication">
        <activity
            android:name="com.jpjy.basket.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ChoiceActivity">
        </activity>
        <activity android:name="BarcodeActivity">
        </activity>
        <activity android:name="BarcodeOpenActivity">
        </activity>
        <activity android:name="BarcodeFailActivity">
        </activity>
        <activity android:name="PasswordActivity">
        </activity>
        <activity android:name="PasswordOpenActivity">
        </activity>
        <activity android:name="PasswordFailActivity">
        </activity>
        <activity android:name=".PhoneNumInputActivity">
        </activity>
        <activity android:name=".PhoneNumConfirmActivity">
        </activity>
        <activity android:name=".PhoneNumFailActivity">
        </activity>
        <activity android:name=".SmsSendingActivity">
        </activity>

    </application>


</manifest>
